* {
  margin: 0px;
}
body {
  background-color: #0a0814;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141125;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar img {
  width: 100px;
  padding-left: 100px;
  cursor: pointer;
}
.navbar a {
  font-family: "Black Ops One", system-ui;
  text-decoration: none;
  color: rgb(255, 60, 0);
  font-size: 35px;
}
.navbar a:hover {
  color: rgb(49, 0, 49);
}
.links {
  display: flex;
  gap: 150px;
  padding-right: 50px;
}
.hero {
}
.hero h1 {
  padding-top: 120px;
  padding-left: 41%;
  color: rgb(255, 60, 0);
  font-size: 100px;
}
.nos {
  display: flex;
  padding-top: 150px;
  align-items: center;
  gap: 50px;
}
.nos img {
  padding-left: 140px;
  width: 800px;
}
.nos p {
  font-family: "Black Ops One", system-ui;
  color: rgb(255, 60, 0);
  font-size: 30px;
}
.about h1 {
  padding-top: 120px;
  padding-left: 41%;
  color: rgb(255, 60, 0);
  font-size: 100px;
}
.about p {
  font-family: "Black Ops One", system-ui;
  color: rgb(255, 60, 0);
  font-size: 30px;
  padding-left: 100px;
  padding-bottom: 50px;
}
.services {
}
.services h1 {
  padding-top: 120px;
  padding-left: 41%;
  color: rgb(255, 60, 0);
  font-size: 100px;
}
.services p {
  font-family: "Black Ops One", system-ui;
  color: rgb(255, 60, 0);
  font-size: 30px;
  padding-left: 200px;
  padding-bottom: 50px;
}
.paypal {
  padding-left: 50%;
}

.testimonials {
  padding-top: 20px;
  text-align: center;
  padding: 60px 20px;
  background-color: rgb(255, 60, 0);
  font-family: Arial, sans-serif;
}

.testimonials h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.testimonials p {
  color: #0a0814;
  margin-bottom: 40px;
}

.testimonial-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial {
  background: #0a0814;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.testimonial:hover {
  transform: translateY(-5px);
}

.testimonial p {
  font-style: italic;
  color: #333;
}

.testimonial h4 {
  margin-top: 15px;
  color: #007bff;
}
